// Colors
$color_links: #dd2915;
$color_bg_side: #ececec;
$color_bg_default: #ececec;
$color_bg_player: #2c2c2c;
$color_hover: #111;
$color_bg_nowplaying: #fff;
$color_selected: #333;
$color_bg_playlistframe: #fff;

// Fonts
@import url('//fonts.googleapis.com/css?family=Montserrat:100,200,400,700');
$font_stack: "Montserrat", Helvetica, Arial, sans-serif;
