a#rewind1 {
  background-image: url('../../icons/buttonPlayer/html5/rewind1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#rewind2 {
  background-image: url('../../icons/buttonPlayer/html5/rewind2.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#forward1 {
  background-image: url('../../icons/buttonPlayer/html5/forward1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#forward2 {
  background-image: url('../../icons/buttonPlayer/html5/forward2.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#clear1 {
  background-image: url('../../icons/buttonPlayer/html5/clear1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#shuffle {
  background-image: url('../../icons/buttonPlayer/html5/shuffle.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#repeat_on {
  background-image: url('../../icons/buttonPlayer/html5/repeat_on.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#repeat_off {
  background-image: url('../../icons/buttonPlayer/html5/repeat_off.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#followMe_on {
  background-image: url('../../icons/buttonPlayer/html5/follow_on.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#followMe_off {
  background-image: url('../../icons/buttonPlayer/html5/follow_off.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#undo {
  background-image: url('../../icons/buttonPlayer/html5/undo.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#settings1 {
  background-image: url('../../icons/buttonPlayer/html5/settings1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#save {
  background-image: url('../../icons/buttonPlayer/html5/save.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#stop1 {
  background-image: url('../../icons/buttonPlayer/html5/stop.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#lock0 {
  background-image: url('../../icons/buttonPlayer/html5/lock0.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#lock1 {
  background-image: url('../../icons/buttonPlayer/html5/lock1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#lock2 {
  background-image: url('../../icons/buttonPlayer/html5/lock2.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#loadQueue {
  background-image: url('../../icons/buttonPlayer/html5/loadQueue.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#saveQueue {
  background-image: url('../../icons/buttonPlayer/html5/saveQueue.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#book1 {
  background-image: url('../../icons/buttonPlayer/html5/book1.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#book2 {
  background-image: url('../../icons/buttonPlayer/html5/book2.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#book3 {
  background-image: url('../../icons/buttonPlayer/html5/book3.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#starred_on {
  background-image: url('../../icons/buttonPlayer/html5/starOn.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}

a#starred_off {
  background-image: url('../../icons/buttonPlayer/html5/starOff.png');
  background-position: 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  text-indent: -9999px;
}
